/* =========
   Type
   ========= */
/* =========
   Input & button height
   ========= */
/* =========
   Inputs
   ========= */
/* =========
   Buttons
   ========= */
/* =========
   Type
   ========= */
/* =========
   Menu
   ========= */
/* =========
   Menu
   ========= */
/*
* 
* ESF 变量，一般不用直接修改这里
×
*/
.esf-grid-u {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}
body > .est-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 60px;
}
body > .est-body {
  margin-top: 60px;
  *zoom: 1;
}
body > .est-body:before,
body > .est-body:after {
  display: table;
  content: "";
}
body > .est-body:after {
  clear: both;
}
.est-header {
  background: #d00000;
}
.primary-bg-link {
  color: #fefdfa;
}
.primary-bg-link:hover {
  color: #fefdfa;
  text-decoration: none;
}
.header-button {
  padding: 0 15px;
  font-size: 32px;
  border-radius: 0;
  height: 60px;
  line-height: 58px;
}
.header-button-nav {
  padding: 0 12px 15px;
  font-size: 16px;
  border-radius: 0;
  height: 60px;
  line-height: 58px;
}
.left-menu-separator {
  border-left: 1px solid #e6e6e6 !important;
}
.right-menu-separator {
  border-right: 1px solid #e6e6e6 !important;
}
.brand-title {
  margin-left: 80px;
  margin-bottom: 0px;
  margin-top: 10px;
}
.brand-title img {
  vertical-align: bottom;
}
.ui-menu.nav > ul > li > a {
  padding: 16px 21px;
}
#left-nav {
  width: 59px;
  background: #d00000;
  position: fixed;
  top: 60px;
  bottom: 0px;
}
#page-footer {
  background: #4d4d4d;
  color: #e6e6e6;
}
#content-container,
#page-footer {
  margin-left: 59px;
}
#container-frame {
  width: 100%;
  height: 100%;
  border: 0;
}
#navigator-features {
  border-right: 1px solid #e6e6e6;
}
#navigator-features a {
  padding: 0.5em 1em;
  display: block;
}
#navigator-features a:hover {
  background: #e6e6e6;
  text-decoration: none;
}
.example {
  position: relative;
  padding: 45px 15px 15px;
  margin-bottom: 15px;
  border: 1px #e5e5e5 solid;
}
/* Echo out a label for the example */
.example:after {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #959595;
  content: "示例";
}
/* Tweak display of the code snippets when following an example */
.example + .highlight {
  margin-bottom: 15px;
  margin-top: -15px;
  border-width: 0 0 1px;
  border-radius: 0;
  position: relative;
}
.highlight {
  max-height: 300px;
  overflow: auto;
}
/* grid-border */
.l-box {
  padding: 1em;
  border: 1px solid #808080;
}
.grid-demo .ui-g {
  background: #e6e6e6;
}
.grid-demo .ui-g [class*="ui-u"] {
  background: #808080;
  color: #ffffff;
  text-align: center;
}
