@import "./src/css/est.less";
@import "./src/css/variable.less";
@import "./src/css/mixins.less";

body {
   .est-layout-fixed-header(60px);
}

.est-header {
    background: @primary-color;
} 

.primary-bg-link {
    color: @primary-bg-color;
    &:hover {
        color: @primary-bg-color;
        text-decoration: none;
    }
}

.brand-title {
    a {
        color: @white;
        &:hover {
            color: @white;
            text-decoration: none;
        }
    }
}

#container-frame { 
    width: 100%;
    border: 0;
}
 
// child page
#navigator-features {
    a {
        padding: 0.5em 1em;
        display: block; 
        &:hover {
            background: @black-10;
            text-decoration: none; 
        }
    }
    border-right: 1px solid @black-10;
}

.example {
    position: relative;
    padding: 45px 15px 15px;
    margin-bottom: 15px;
    border: 1px #e5e5e5 solid;
}
/* Echo out a label for the example */
.example:after {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px; 
  font-weight: bold;
  color: #959595;
  content: "示例";
}

/* Tweak display of the code snippets when following an example */
.example + .highlight {
  margin-bottom: 15px;
  margin-top: -15px;
  border-width: 0 0 1px;
  border-radius: 0;
  position: relative;
}

.highlight {
    max-height: 300px;
    overflow: auto;
}

/* grid-border */
.l-box {
    padding: 1em;
    border: 1px solid @black-50;
}

.grid-demo {
    .ui-g {
        background: @black-10;
        [class *= "@{ui-class-prefix}u"] {
            background: @black-50;
            color: @white;
            text-align:center;
        }
    }
}