.ui-table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #999999;
}
.ui-table caption {
  text-align: center;
  font-weight: bold;
}
.ui-table td,
.ui-table th {
  border-width: 0 0 0 1px;
  margin: 0;
  overflow: visible;
}
.ui-table thead {
  text-align: left;
}
.ui-table caption {
  color: #000000;
}
.ui-table td,
.ui-table th {
  border-left: 1px solid #999999;
}
.ui-table thead {
  background: #cccccc;
  color: #000000;
}
.ui-table.striped tr:nth-child(2n-1) td {
  background-color: #e6e6e6;
  color: #000000;
}
.ui-table.bordered td {
  border-bottom: 1px solid #999999;
}
.ui-table.horizontal th,
.ui-table.horizontal td {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #999999;
}
.ui-table.hover-line > tbody > tr:hover > td,
.ui-table.hover-line > tbody > tr:hover > th {
  background-color: #e6e6e6;
  color: #000000;
}
.ui-table caption {
  padding: 1em 0;
  font-size: 13px;
}
.ui-table td,
.ui-table th {
  padding: 0.5em 1em;
  font-size: 13px;
}
.ui-menu {
  overflow: visible;
  position: relative;
}
.ui-menu > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.ui-menu > ul .ui-menu-item {
  position: relative;
}
.ui-menu > ul .ui-menu-item > a {
  text-decoration: none;
  display: block;
}
.ui-menu > ul .ui-menu-item.disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
.ui-menu > ul .ui-menu-item.disabled a:hover {
  background: none;
}
.esf-grid-u {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "微软雅黑", SimSun, "宋体", STXihei, "华文细黑", sans-serif;
}
body > .est-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 60px;
}
body > .est-body {
  margin-top: 60px;
  *zoom: 1;
}
body > .est-body:before,
body > .est-body:after {
  display: table;
  content: "";
}
body > .est-body:after {
  clear: both;
}
.est-header {
  background: #d00000;
}
.primary-bg-link {
  color: #fefdfa;
}
.primary-bg-link:hover {
  color: #fefdfa;
  text-decoration: none;
}
.brand-title a {
  color: #ffffff;
}
.brand-title a:hover {
  color: #ffffff;
  text-decoration: none;
}
#container-frame {
  width: 100%;
  border: 0;
}
#navigator-features {
  border-right: 1px solid #e6e6e6;
}
#navigator-features a {
  padding: 0.5em 1em;
  display: block;
}
#navigator-features a:hover {
  background: #e6e6e6;
  text-decoration: none;
}
.example {
  position: relative;
  padding: 45px 15px 15px;
  margin-bottom: 15px;
  border: 1px #e5e5e5 solid;
}
/* Echo out a label for the example */
.example:after {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #959595;
  content: "示例";
}
/* Tweak display of the code snippets when following an example */
.example + .highlight {
  margin-bottom: 15px;
  margin-top: -15px;
  border-width: 0 0 1px;
  border-radius: 0;
  position: relative;
}
.highlight {
  max-height: 300px;
  overflow: auto;
}
/* grid-border */
.l-box {
  padding: 1em;
  border: 1px solid #808080;
}
.grid-demo .ui-g {
  background: #e6e6e6;
}
.grid-demo .ui-g [class*="ui-u"] {
  background: #808080;
  color: #ffffff;
  text-align: center;
}
