/* =========
   Inputs
   ========= */
/* =========
   Buttons
   ========= */
/* =========
   Type
   ========= */
/* =========
   Menu
   ========= */
/*
* 
* ESF 变量，一般不用直接修改这里
×
*/
body > .est-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 3.75em;
}
body > .est-body {
  margin-top: 3.75em;
  *zoom: 1;
}
body > .est-body:before,
body > .est-body:after {
  display: table;
  content: "";
}
body > .est-body:after {
  clear: both;
}
.est-header {
  background: #d00000;
}
.primary-bg-link {
  color: #fefdfa;
}
.primary-bg-link:hover {
  color: #fefdfa;
  text-decoration: none;
}
.header-button {
  padding: 13px 15px;
  font-size: 32px;
  line-height: 1;
  border-radius: 0;
  vertical-align: top;
}
.header-button-nav {
  padding: 12px 15px;
  font-size: 1em;
  line-height: 1;
  border-radius: 0;
}
.left-menu-separator {
  border-left: 1px solid #eeeeee !important;
}
.right-menu-separator {
  border-right: 1px solid #eeeeee !important;
}
.brand-title {
  margin-top: 10px;
  margin-bottom: 0px;
  display: inline-block;
}
.brand-title a {
  color: #fefdfa;
  font-size: 25px;
}
.brand-title a:hover {
  color: #fefdfa;
  text-decoration: none;
}
.brand-title a img {
  vertical-align: bottom;
}
.ui-menu.nav > ul > li > a {
  padding: 16px 21px;
}
#left-nav {
  width: 59px;
  background: #d00000;
  position: fixed;
  top: 60px;
  bottom: 0px;
}
#page-footer {
  background: #555555;
  color: #eeeeee;
}
#content-container,
#page-footer {
  margin-left: 59px;
}
#container-frame {
  width: 100%;
  height: 100%;
  border: 0;
}
