// Name:            Button
// Description:     Defines styles for buttons
//
// Component:       `ui-button`
//
// Sub-objects:     `ui-button-group`
//                  `ui-button-dropdown`
//
// Variants:        `primary`
//                  `secondary`
//                  `success`
//                  `danger`
//                  `info`
//                  `warning`
//                  `link`
//
// Sizes:           `fluid`
//                  `mini`
//                  `small`
//                  `large`
//                  `big`
//                  `huge`
//                  `massive`
//
// States:          `active`
//                  `hover`
//                  `disabled`
//
// Mixins:          `.button-variant(@text-color, @background-color, @border-color)`
//
// ========================================================================

.@{ui-class-prefix}button {
    // for `a` elements
    display: inline-block;
    .box-sizing(border-box);
    text-align: center;
    vertical-align: middle;
    .user-select(none);
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
    &:focus {
        outline: 0;
    }
    border: 1px solid transparent;
    line-height: @default-button-line-height;
    height: @default-button-height;
    padding: @default-button-padding;

    &.@{modifier-prefix}icon-only {
        padding: @default-button-icon-padding;
    }
    .border-radius(@default-box-border-radius);
    .button-variant(@default-button-text-color, @default-button-background-color, @default-button-border-color);
    font-size: @base-font-size;
}

.@{ui-class-prefix}button.@{modifier-prefix}primary {
    .button-variant(@primary-button-text-color, @primary-button-background-color, @primary-button-border-color);
}

.@{ui-class-prefix}button.@{modifier-prefix}secondary {
    .button-variant(@secondary-button-text-color, @secondary-button-background-color, @secondary-button-border-color);
}

.@{ui-class-prefix}button.@{modifier-prefix}success {
    .button-variant(@success-button-text-color, @success-button-background-color, @success-button-border-color);
}

.@{ui-class-prefix}button.@{modifier-prefix}danger {
    .button-variant(@danger-button-text-color, @danger-button-background-color, @danger-button-border-color);
}

.@{ui-class-prefix}button.@{modifier-prefix}info {
    .button-variant(@info-button-text-color, @info-button-background-color, @info-button-border-color);
}

.@{ui-class-prefix}button.@{modifier-prefix}warning {
    .button-variant(@warning-button-text-color, @warning-button-background-color, @warning-button-border-color);
}

.@{ui-class-prefix}button.@{modifier-prefix}link {
    .link-like();
    background: none;
    &:hover {
        background: none;
    }
    border: 0;
}

.@{ui-class-prefix}button.@{modifier-prefix}fluid {
    display: block;
    width: 100%;
}

.@{ui-class-prefix}button.@{modifier-prefix}active,
.@{ui-class-prefix}button:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
}

.@{ui-class-prefix}button[disabled],
.@{ui-class-prefix}button.@{modifier-prefix}disabled,
.@{ui-class-prefix}button.@{modifier-prefix}disabled:hover,
.@{ui-class-prefix}button.@{modifier-prefix}disabled:focus,
.@{ui-class-prefix}button.@{modifier-prefix}disabled:active {
    .opacity(40);
    cursor: not-allowed;
}

.@{ui-class-prefix}button-group.@{modifier-prefix}mini .@{ui-class-prefix}button,
.@{ui-class-prefix}input.@{modifier-prefix}mini,
.@{ui-class-prefix}input.@{modifier-prefix}mini .@{ui-class-prefix}action-container .@{ui-class-prefix}button,
.@{ui-class-prefix}button.@{modifier-prefix}mini {
    font-size: @mini-font-size;
}

.@{ui-class-prefix}button-group.@{ui-class-prefix}small .@{ui-class-prefix}button,
.@{ui-class-prefix}input.@{modifier-prefix}small,
.@{ui-class-prefix}input.@{modifier-prefix}small .@{ui-class-prefix}action-container .@{ui-class-prefix}button,
.@{ui-class-prefix}button.@{modifier-prefix}small {
    font-size: @small-font-size;
}

.@{ui-class-prefix}button-group.@{ui-class-prefix}large .@{ui-class-prefix}button,
.@{ui-class-prefix}input.@{modifier-prefix}large,
.@{ui-class-prefix}input.@{modifier-prefix}large .@{ui-class-prefix}action-container .@{ui-class-prefix}button,
.@{ui-class-prefix}button.@{modifier-prefix}large {
    font-size: @large-font-size;
}

.@{ui-class-prefix}button-group.@{ui-class-prefix}big .@{ui-class-prefix}button,
.@{ui-class-prefix}input.@{modifier-prefix}big,
.@{ui-class-prefix}input.@{modifier-prefix}big .@{ui-class-prefix}action-container .@{ui-class-prefix}button,
.@{ui-class-prefix}button.@{modifier-prefix}big { 
    font-size: @big-font-size;
}

.@{ui-class-prefix}button-group.@{ui-class-prefix}huge .@{ui-class-prefix}button,
.@{ui-class-prefix}input.@{modifier-prefix}huge,
.@{ui-class-prefix}input.@{modifier-prefix}huge .@{ui-class-prefix}action-container .@{ui-class-prefix}button,
.@{ui-class-prefix}button.@{modifier-prefix}huge {
    font-size: @huge-font-size;
}

.@{ui-class-prefix}button-group.@{ui-class-prefix}massive .@{ui-class-prefix}button,
.@{ui-class-prefix}input.@{modifier-prefix}massive,
.@{ui-class-prefix}input.@{modifier-prefix}massive .@{ui-class-prefix}action-container .@{ui-class-prefix}button,
.@{ui-class-prefix}button.@{modifier-prefix}massive {
    font-size: @massive-font-size;
}

.@{ui-class-prefix}button-dropdown-wrap {
    // 1. Behave like buttons
    display: inline-block;
    vertical-align: middle;
    // 2. Create position context for dropdowns
    position: relative;
}

.@{ui-class-prefix}button-group {
    display: inline-block;
    font-size: 0;
    .@{ui-class-prefix}button {
        &:first-child {
            margin-left: 0px;
        }
        margin-left: -1px;
    }
}

.@{ui-class-prefix}button-group > .@{ui-class-prefix}button:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.@{ui-class-prefix}button-group > .@{ui-class-prefix}button:first-child:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.@{ui-class-prefix}button-group > .@{ui-class-prefix}button:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.button-variant(@text-color, @background-color, @border-color) {
    color: @text-color;
    background-color: @background-color;
    border-color: @border-color;
    &:hover,&.hover {
        color: @text-color;
        background-color: darken(@background-color, 10%);
        border-color: darken(@border-color, 12%);
    }
}