.@{ui-class-prefix}-button {
    /* Structure */
    display: inline-block;
    *display: inline; /*IE 6/7*/
    zoom: 1;

    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    .user-select(none);
    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
    border-radius: @default-border-radius;

    font-size: @base-font-size; // reset font-size, since we set font-size 0 on button groups to avoid whitespace.
    padding: @default-padding;
    border: 1px solid transparent;  /*IE9 + everything else*/
    &:hover {
        text-decoration: none;
    }
}

.@{ui-class-prefix}-button {
    .button-variant(@default-button-text-color, @default-button-background-color, @default-button-border-color);
}

.@{ui-class-prefix}-button.fluid {
    display: block;
    width: 100%;
}

.@{ui-class-prefix}-button:focus {
    outline: 0;
}
.@{ui-class-prefix}-button.active,
.@{ui-class-prefix}-button:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
}

.@{ui-class-prefix}-button[disabled],
.@{ui-class-prefix}-button.disabled,
.@{ui-class-prefix}-button-disabled:hover,
.@{ui-class-prefix}-button-disabled:focus,
.@{ui-class-prefix}-button-disabled:active {
    .opacity(40);
    cursor: not-allowed;
}

/* Firefox: Get rid of the inner focus border */
.@{ui-class-prefix}-button::-moz-focus-inner{
    padding: 0;
    border: 0;
}

/*--------------------
        Size
---------------------*/
.@{ui-class-prefix}-button.mini {
    font-size: 0.8125em;
}
.@{ui-class-prefix}-button.small {
    font-size: 0.875em;
}
.@{ui-class-prefix}-button.large {
    font-size: 1.125em;
}
.@{ui-class-prefix}-button.big {
    font-size: 1.25em;
}
.@{ui-class-prefix}-button.huge {
    font-size: 1.375em;
}
.@{ui-class-prefix}-button.massive {
    font-size: 1.5em;
}

.@{ui-class-prefix}-button-group {
    display: inline-block;
    font-size: 0;
    .@{ui-class-prefix}-button {
        font-size: 14px;
        &:first-child {
            margin-left: 0px;
        }
        margin-left: -1px;
    }
}

.@{ui-class-prefix}-button-group > .@{ui-class-prefix}-button:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.@{ui-class-prefix}-button-group > .@{ui-class-prefix}-button:first-child {
  &:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}
.@{ui-class-prefix}-button-group > .@{ui-class-prefix}-button:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}


