

@menu-sub-border-color: 1px solid rgba(0, 0, 0, 0.1);
@menu-sub-background-color: #fff;
@menu-sub-text-color: #555555;

.@{ui-class-prefix}-dropdown {
    position: relative;
    top: auto;
    left: auto;
    z-index: 10;
    background: @menu-sub-background-color;
    border: @menu-sub-border-color;
    .list-unstyled();
    li {
        position: relative;
        font-size: .875em;
        a {
            padding: 0.5em 1em;
            display: block;
            float: none;
            color: @menu-sub-text-color;
            &:hover {
                background: rgba(0, 0, 0, 0.05);
            }
            text-decoration: none;
        }
        &.separator-above {
            padding-top: .35em;
            margin-top: .35em;
            border-top: 1px solid #d9d9d9;
        }
        &.separator-below {
            padding-bottom: .35em;
            margin-bottom: .35em;
            border-bottom: 1px solid #d9d9d9;
        }
        .@{ui-class-prefix}-dropdown {
            display: none;
        }
        &:hover {
            > .@{ui-class-prefix}-dropdown {
                display: block;
            }
        }
        &.heading {
            padding: 0.5em 1em;
            font-weight: bold;
        }
    }
    &.flyout {
        position: absolute;
        min-width: 8em;
        top: 0;
        &.left {
            right: 100%;
        }
        &.right {
            left: 100%;
        }
    }
}

.menu-variant(@menu-background-color; @text-color; @menu-active-background-color; @menu-item-padding; @menu-item-line-height) {

    background: @menu-background-color;
    > ul > li {
        > a {
            color: @text-color;

            padding: @menu-item-padding;
            line-height: @menu-item-line-height;
        }
        &:hover {
            background-color: darken(@menu-background-color, 10%);
        }
        &.active {
            background: darken(@menu-background-color, 10%);
        }
    }
}

.@{ui-class-prefix}-menu {
    overflow: visible;
    position: relative;

    > ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        > li {
            position: relative;
            margin: 0;
            > a {
                text-decoration: none;
            }
            &.disabled {
                a {
                    text-shadow: black 0 -1px 0;
                    &:hover {
                        background: none;
                    }
                }
                .ui-disabled();
            }
            &.heading {
                font-weight: bold;
            }
            .@{ui-class-prefix}-dropdown {
                display: none;
            }
            &:hover {
                > .@{ui-class-prefix}-dropdown {
                    display: block;
                }
            }
        }
    }
}

.@{ui-class-prefix}-menu {
    .menu-variant(
        @menu-background-color, 
        @menu-text-color,
        @menu-active-background-color,
        @menu-item-padding,
        @menu-item-line-height
    );
}

.@{ui-class-prefix}-menu.horizontal {
    .clearfix();
    > ul > li {
        float: left;
        a {
            display: block;
        }
    }
    .@{ui-class-prefix}-dropdown {
        position: absolute;
        min-width: 100%;
    }
}

.@{ui-class-prefix}-menu.vertical {
    li {
        position: relative;
        a {
            display: block;
        }
    }
}