[hidden] {
    display: none !important;
}

// Override normalize with variable values.
html {
    font-family: @default-font-family;
    background: @body-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: @headings-font-family;
    font-weight: @headings-font-weight;
    color: @headings-color;

    small,
    .small {
        font-weight: normal;
        color: @headings-small-color;
    }
}
h1, h2, h3 {
    small,
    .small {
        font-size: 65%;
    }
}

h4, h5, h6 {
    small,
    .small {
        font-size: 75%;
    }
}

body {
    font-size: @base-font-size;
    line-height: 1.3;
}

code,kbd {
    color: @code-text-color;
    white-space: nowrap;
    border: 1px solid @code-border-color;
    border-radius: @default-box-border-radius;
    background: @code-background-color;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: @base-font-size * 0.75;
    padding: @code-padding;
}

// resest background color and other style when wrapped in pre
pre code {
    color: inherit;
    white-space: inherit;
    border: none;
    background: none;
    padding: 0;
}

blockquote {
    font-style: italic;
    margin: @quote-margin;
    footer {
        color: @quote-foot-text-color;
    }
}

dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}

a {
    .link-like();
}

ul,
ol {
    margin-top: 0;
    ul, ol {
        margin-bottom: 0;
    }
}

p.@{ui-class-prefix}indent {
    text-indent: 2em;
}

.@{ui-class-prefix}divider, hr {
    border-top: 1px solid @hr-color;
    height: 0;
    overflow:hidden;
}

// Chinese font families
.@{ui-class-prefix}song {
    font-family: @song-font;
}

.@{ui-class-prefix}fang-song {
    font-family: @fang-song-font
}

.@{ui-class-prefix}hei {
    font-family: @hei-font;
}

.@{ui-class-prefix}kai {
    font-family: @kai-font; 
}

// Unstyled keeps list items block level, just removes default browser padding and list-style
.esf-list-unstyled {
    padding-left: 0;
    list-style: none;
}

.@{ui-class-prefix}list-unstyled {
    &:extend(.esf-list-unstyled);
}

// Inline turns list items into inline-block
.@{ui-class-prefix}list-inline {
  &:extend(.esf-list-unstyled);
  margin-left: -5px;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.@{ui-class-prefix}truncate {
    .ellipsis();
}

.@{ui-class-prefix}truncate2 {
    .ellipsis(3);
}

// img
@{ui-class-prefix}img {
    max-width: 100%;
    height: auto;
    display: block;
}