@import "./palette.less";

// common config
@default-font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "微软雅黑", SimSun, "宋体", STXihei, "华文细黑", sans-serif;
@base-font-size: 16px;
@text-color: @neutral-base-color;
@body-color: @primary-bg-color;
@default-border-radius: 4px;

// padding
@gutter: 10px;

// 

@default-padding: 10px 16px;

// prefix config
@ui-class-prefix: ui;

/* =========
   Type
   ========= */
@link-color:       @gray;
@link-hover-color: darken(@link-color, 15%);

/* =========
   Input & button height
   ========= */
@default-button-height: 40px;
@default-button-line-height: 40px;
@default-input-height: 40px;
   
/* =========
   Inputs
   ========= */
@input-background-color: #FFFFFF;
@input-border-color: 1px solid rgba(0, 0, 0, 0.15);
@input-text-color: rgba(0, 0, 0, 0.7);
@input-placeholder-color: #BBBBBB;
// tab color, webkit only
@input-tap-color: rgba(255, 255, 255, 0);

// active state
@input-active-border-color: rgba(0, 0, 0, 0.3);
@input-active-background-color: #FAFAFA;
// focus state
@input-focus-border-color: rgba(0, 0, 0, 0.2);
@input-focus-background-color: rgba(0, 0, 0, 0.85);
// error state
@input-error-border-color: #E7BEBE;
@input-error-background-color: #FFFAFA;
@input-error-text-color: #D95C5C;
@input-error-placeholder-color: red;
// disabled state
@input-disabled-border-color: rgba(0, 0, 0, 0.2);
@input-disabled-background-color: #eee;

/* =========
   Buttons
   ========= */
@default-icon-button-padding: 10px;
@default-button-padding: 16px;

@default-button-text-color: @white;
@default-button-background-color: @gray-light;
@default-button-border-color: @gray-light;

@primary-button-text-color: @white;
@primary-button-background-color: @primary-color;
@primary-button-border-color: @primary-color;

@secondary-button-text-color: @white;
@secondary-button-background-color: @triad-base-color;
@secondary-button-border-color: @triad-base-color; 

@success-button-text-color: @white;
@success-button-background-color: @complement-hightlight-color;
@success-button-border-color: @complement-hightlight-color;

@warning-button-text-color: @white;
@warning-button-background-color: @energetic-hightlight-color;
@warning-button-border-color: @energetic-hightlight-color; 

@danger-button-text-color: @white;
@danger-button-background-color: @energetic-base-color;
@danger-button-border-color: @energetic-base-color;

@info-button-text-color: @white;
@info-button-background-color: @triad-base-color;
@info-button-border-color: @triad-base-color; 

/* =========
   Type
   ========= */
@hei-font: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "微软雅黑", SimHei, "黑体", STHeiti, "华文黑体", sans-serif;
@headings-font-family: @hei-font;
@headings-font-weight: bold;
@headings-color: @neutral-shadow-color;
@headings-small-color: #333;

/* =========
   Menu
   ========= */
@menu-background-color: @primary-color;
@menu-text-color: @default-button-text-color;
@menu-active-background-color: @primary-color;
@menu-item-padding: 0.5em 1em;
@menu-item-line-height: 1.7;

/*
* 
* ESF 变量，一般不用直接修改这里
×
*/
// global flags
@support-old-ie: true;
@support-html5: true;

// default typographic settings
@default-font-size: @base-font-size;
@default-text-color: @text-color;
@default-input-placeholder-color: #999;
@default-base-font-family: @default-font-family;
// * IE6/7下如果已经找到字体，不会再按字符进行fallback，故必须将雅黑置首位，写上Arial是为了在雅黑的情况下显示更好的英文字体
@default-heading-font-family: @hei-font;
@default-old-ie-heading-font-family: "Microsoft Yahei", "微软雅黑", SimHei, "黑体", STHeiti, "华文黑体", "Helvetica Neue", Helvetica, Arial, sans-serif;
@default-code-font-family: Monaco, Consolas, monospace;

// default visual settings
@default-border-radius: 5px;
@default-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);

// z-index settings (compatible with BootStrap, ESUI)
@header-z-index: 1000;
@footer-z-index: 1000;
@modal-z-index: 1050;